.titleContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  width: 60%;
  border-radius: 20px;
  box-shadow: var(--elevation-level3);
  background-color: var(--md-sys-color-surface);
  padding: 20px;
}

.name {
  font-weight: 200;
  color: var(--clr-active);
}

.link {
  text-decoration: none;
  color: var(--clr-bg-1);
  font-weight: 200;

  &:hover {
    color: var(--clr-active);
  }
}

@media (width <= 600px) {
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
