.container {
  overflow: hidden;
  transition: transform 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--elevation-level3);
  background-color: var(--md-sys-color-surface);
}

.projectContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  box-shadow: var(--shadow-4);
}

.previewContainer {
  display: none;
  justify-content: center;
  gap: 18px;
  width: 100%;
}

.shrink {
  width: 100%;
  transform: scale(0.9) translateY(20px);

  .projectContainer {
    padding: 30px;
  }

  .previewContainer {
    display: flex;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.title {
  font-size: 26px;
  line-height: 42px;
  text-align: center;
}

.descriptionTitle {
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
}

.deployContainer {
  background-image: url('../../../../assets/IMAGE2.png');
  background-position: center;
  background-size: cover;
}

.projectTitle {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (width <= 600px) {
  .previewContainer {
    flex-direction: column;
    align-items: center;
  }

  .projectContainer {
    width: 90%;
  }
}
