.repoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  box-shadow: var(--shadow-5);
  padding: 20px;
  width: 60%;
}

.link {
  text-decoration: none;
  color: var(--clr-bg-1);
}

@media (width <= 600px) {
  .repoList {
    width: 100%;
  }
}
