.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets//IMAGE.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  margin-bottom: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 420px 0 0;
  width: 70%;
}

.titleProf {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}

.titleName {
  font-size: 48px;
  line-height: 59.4px;
}

.shrink {
  opacity: 0;
  transform: scale(0.9) translateY(-20px);
  pointer-events: none;
}

@media (width <= 600px) {
  .titleContainer {
    align-items: flex-start;
    margin-top: 0;
    padding: 220px 0 0;
  }

  .titleProf {
    font-size: 10px;
  }

  .titleName {
    font-size: 30px;
  }
}
