.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.menuMobile {
  width: 50%;
  display: none;
  flex-direction: column;
  background-color: var(--clr-line);
  position: absolute;
  top: 100%;
  left: 16px;
  row-gap: 0.5rem;
  padding: 20px;
  border: 1px solid var(--clr-bg-1);
}

.menuMobile.open {
  display: flex;
}

.menuItem {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-bg-1);
  font-size: 13px;
}

.menuItem:hover {
  transform: scale(1.15);
}
