.pagesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pagesLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageItem {
  text-decoration: none;
  color: var(--clr-bg-1);
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
}
