.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow-4);
  margin-top: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 50%;
}

.title {
  font-weight: 200;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.contactButton {
  display: flex;
  align-items: center;
  gap: 6px;
}

.viewHeight {
  .shrink {
    width: 500px;
  }
}

@media (width <= 600px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }
}
