.searchContainer {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 20px;
  border-radius: 20px;
  box-shadow: var(--elevation-level3);
  background-color: var(--md-sys-color-surface);
  padding: 20px;
}

.input {
  background-color: var(--clr-line);
  border: 1px solid transparent;
  border-radius: 20px;
  color: var(--clr-bg-1);
  padding: 10px;
  width: 70%;

  &:focus {
    border: 1px solid var(--clr-active);
  }
}

@media (width <= 600px) {
  .searchContainer {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .input {
    width: 80%;
  }
}
