.searchContainer {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 20px;
  padding: 20px 0;
}

.input {
  box-shadow: var(--shadow-6);
  background: transparent;
  color: var(--clr-bg-1);
  padding: 8px 24px;
  width: 26%;
}

@media (width <= 600px) {
  .searchContainer {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .input {
    width: 80%;
  }
}
