.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: var(--clr-line);
  padding: 0 1rem;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-5);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4px 10px;
}
