.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
  padding: 40px 0 0;
}

@media (width <= 600px) {
  .container {
    width: 90%;
    flex-wrap: wrap;
    padding: 0;
  }
}
