.container {
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--elevation-level3);
  background-color: var(--md-sys-color-surface);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.mainTitle {
  font-weight: 300;
  padding: 10px 0;
}

.label {
  font-weight: 200;
  font-size: 14px;
}

.input {
  background: var(--clr-line);
  border: 1px solid transparent;
  border-radius: 20px;
  color: var(--clr-bg-1);
  padding: 10px;
  width: 90%;
  margin-bottom: 30px;

  &:focus {
    border: 1px solid var(--clr-active);
  }
}

.errorInput {
  border: 1px solid var(--clr-error-1);
  border-radius: 20px;
  background: transparent;
  color: var(--clr-bg-1);
  padding: 10px;
  transform: scale(1.05);
  width: 90%;
}

.select {
  background: var(--clr-line);
  border-radius: 20px;
  color: var(--clr-bg-1);
  padding: 10px;
  margin: 8px 0 40px;
  width: 90%;
}

.sendButton {
  display: flex;
  align-items: center;
  gap: 6px;
}

.errorContainer {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 10px;
  padding: 8px;
  color: var(--clr-error-2);
}

@media (width <= 800px) {
  .container {
    width: 85%;
    padding: 18px;
  }

  .form {
    width: 90%;
  }
}
