.footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  padding: 100px 0;
  background-color: var(--clr-line);
}

.footerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  padding: 0 20px;
}

.socialIconsContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.logo {
  width: 200px;
  height: 200px;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pagesLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageItem {
  text-decoration: none;
  color: var(--clr-bg-1);
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
}
