.project {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 20px;
  background-color: var(--clr-line);
  padding: 20px;
  border-radius: 20px;

  &:hover {
    transform: scale(1.02);
    border: 1px solid var(--clr-active);
  }
}

.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.description {
  font-weight: 200;
  font-size: 14px;
}

.techStack {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 90%;
}

.stack {
  color: var(--clr-active);
  background-color: var(--md-sys-color-surface);
  padding: 4px 14px;
  border-radius: 20px;
  font-size: 12px;
}

.projectImage {
  display: flex;
  align-items: center;
  width: 30%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

@media (width <= 850px) {
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .projectInfo {
    width: 100%;
  }
}

@media (width <= 500px) {
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .projectInfo {
    width: 100%;
  }

  .techStack {
    flex-direction: column;
    align-items: flex-start;
  }
}
