.container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.logoImage {
  width: 20px;
  height: 20px;
}
