.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  box-shadow: var(--shadow-5);
  background-color: var(--md-sys-color-surface);
  padding: 10px;
  margin-top: 40px;
}
